div
	h1 Hey Buddy we are from Happily Unmarried Testing Gabbar!
	p 
		b CustomerId: 
		span= customerId

	p 
		b Name: 
		span= firstname + ' ' + lastname

	p 
		b Contact Number: 
		span= contactNo

	p 
		b Events performed till now: 
		span= events.length

	h6 mail sent to
		span= email